@use '../../../styles/variables' as *;

.container {
    padding-inline: 15%;
    min-height: calc(100vh - $nav-height);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .contacts {
        display: flex;
        flex-direction: column;        

        h2 {
            font-weight: 600;
            font-size: clamp(0.8rem, 10vw, $h2);
        }

        .contact-section {

            .contact-info {
                margin-block: 32px;
                padding-left: 10%;
                display: flex;
                flex-direction: column;
                gap: 32px;
                
                .info-row {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 16px;
                    font-size: clamp(16px, 5vw, $paragraph);

                    .info-heading {
                        display: flex;
                        align-items: center;
                        gap: 16px;

                        svg {
                            width: clamp(20px, 5vw, 40px);
                        }
                    }
                    
                    .info-value {
                        border-bottom: 3px solid $secondary;
                    }
                }

                .social svg {
                    fill: $black;
                }
            }
        }    
    }
}