// app colors
$primary: #171717;
$secondary: #E5CB8D;
$tertiary: #E0D6BF;
$white: #FDFCF5;

$black: #333333;
$black-75: #666666;
$black-50: #9A9A9A;
$black-25: #CCCCCC;
$black-15: #E1E1E1;
$black-5: #F5F5F5;

$link-color: #EDA304;

// app gradients
$primary-gradient: linear-gradient(to right, #F6E0A4, #D3B269);

// app font sizes
$h1: 80px;
$h2: 64px;
$h3: 51px;
$h4: 41px;
$h5: 33px;
$h6: 26px;
$paragraph: 26px;

// layout
$nav-height: 80px;
$footer-height: 180px;

$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1280px;