@use '../../../styles/variables' as *;

.container {
    padding: 10%;
    min-height: calc(100vh - $nav-height);
    display: flex;
    justify-content: center;
    align-items: center;

    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;  

        .service {
            max-width: 400px;

            .name {
                background-color: $black;
                border: 10px solid $black;
                border-radius: 15px;
                padding: 8px 12px;
                position: relative;
                z-index: 1;

                .service-name {
                    color: $black-15;
                    font-weight: 700;
                    font-size: clamp(0.8rem, 10vw, $h5);
                }

                .price {
                    font-size: clamp(0.6rem, 8vw, 0.9rem);
                    color: $tertiary;
                    font-weight: 700;
                }
            }

            .description {
                position: relative;
                z-index: 0;
                margin: -20px 5px 5px;
                padding: 25px 15px 15px;
                border: 5px solid $black-15;
                border-radius: 20px;
                font-size: clamp(16px, 5vw, 0.8rem);

                .service-description {
                    margin-block: 8px 16px;
                }

                ul {
                    margin: 10px 20px;

                    .service-option {
                        margin-block: 15px;
                    }

                    .service-option::marker {
                        color: $secondary;
                    }
                }

                a {
                    text-decoration: none;
                    color: $black;
                    font-weight: 700;

                    .register {
                        display: block;
                        color: #171717;
                        width: 100%;        
                        min-height: 55px;        
                        padding: 12px;            
                        background: $primary-gradient;
                        border-radius: 15px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}