<div class="container">
    <div class="hero-message">
        <h1>Dive into the depths of your true self</h1>
        <p>The conflict between your real Self and the person you want to be prevents you from living fully. We will help you explore your shadow side and discover the strength to make your dreams a reality.</p>
        <div class="cta-buttons">
            <app-round-button routerLink="/services" [text]="'Services'"></app-round-button>
            <a><app-round-button [text]="'Apply'"></app-round-button></a>
        </div>
    </div>
    <div class="bg-image">
        <picture>
            <source srcset="images/meditation-lg.jpg" media="(min-width: 768px)">
            <img src="images/meditation-md.jpg" alt="a photo of a meditating person">
        </picture>
    </div>
</div>