<nav class="container">
    <ul class="menu">
        <li class="menu-item">
            <ul class="menu-links">
                <li><a routerLink="/home">Home</a></li>             
                <li><a routerLink="/contacts">Contacts</a></li>
                <li><a routerLink="/services">Services</a></li>
            </ul>
        </li>
        <li class="menu-item social-links">
            <a><img src="icons/instagram.svg" alt="Instagram logotype"></a>
            <a><img src="icons/facebook.svg" alt="Facebook logotype"></a>
        </li>
        <li class="menu-item copyright">
            2025 Your shadow side
        </li>
    </ul>
</nav>