<div class="container">
    <img src="images/home-pg-curve-1.svg" alt="A background image with soft curves" class="bg-image bg-image-desktop">
    <img src="images/home-pg-curve-1-mobile.svg" alt="A background image with soft curves" class="bg-image bg-image-mobile">
    <div class="about-texts">
        <div class="text">
            <h3>Illuminate Your Shadow Side</h3>
            <p>Your shadow side is an opportunity to take a deep look at how “shadow aspects” influence your life and shape your choices. This is a step-by-step process designed to meaningfully work through your shadow aspects. It is a journey of healing and of becoming whole.</p>
        </div>
        <div class="text">
            <h3>The Path to Wholeness Through the Shadow</h3>
            <p>Every person has a shadow side, and ignoring it condemns them to inner conflict. Harmony is possible only when we accept and integrate both sides.</p>
            <p>A person can become whole and live in harmony with themselves only by recognizing and working through their opposing qualities.</p>
        </div>
    </div>
</div>
